/* Reset some styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f7fa;
    color: #333;
}

h1 {
    margin: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

#map {
    height: 500px;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

#locationName {
    font-size: 18px;
    color: #555;
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 500px;
}
